{% extends "base.html" %}
{% block title %}Clientes{% endblock %}
{% block body %}
<div class="painel-container">
    <table style="width:100%"> 
        <!-- Table headers -->
            <th> 
                <tr style="color: green; ">     
                    <td>ID Cliente</td> 
                    <td>Nome Cliente</td> 
                    <td>Email</td>
                    <td>CPF</td> 
                </tr> 
            </th> 
              
        <!-- For loop logic of jinja template -->
        {%for c in clientes%} 
          
        <!-- table rows -->
        <tr id="cliente_{{c['id_cliente']}}"> 
            <td><span class="remove-product" onclick="remove_cliente({{c['id_cliente']}})">x</span>{{c['id_cliente']}}</td> 
            <td>{{c['nome']}}</td> 
            <td>{{c['email']}}</td> 
            <td>{{c['cpf']}}</td> 
          
        {%endfor%} 
        </tr> 
          
        </table> 
</div>
{% endblock %}