{% extends "base.html" %}
{% block title %}Estoque{% endblock %}
{% block body %}
<div class="painel-container">
    <table style="width:100%"> 
        <!-- Table headers -->
            <th> 
                <tr style="color: green; ">     
                    <td>ID Estoque</td> 
                    <td>Quantidade</td> 
                    <td>ID Produto</td>
                    <td>Localização</td> 
                </tr> 
            </th> 
              
        <!-- For loop logic of jinja template -->
        {%for e in estoque%} 
          
        <!-- table rows -->
        <tr id="estoque_{{e['id_cliente']}}"> 
            <td><span class="remove-product" onclick="remove_estoque({{e['id_estoque']}})">x</span>{{e['id_estoque']}}</td> 
            <td>{{e['quantidade']}}</td> 
            <td>{{e['fk_produto']}}</td> 
            <td>{{e['localizacao']}}</td> 
          
        {%endfor%} 
        </tr> 
          
        </table> 
</div>
{% endblock %}