{% extends "base.html" %}
{% block title %}Painel de Controle{% endblock %}
{% block body %}
<div class="painel-container">
    <h1>Main View   </h1>
    <h3>We made it here!</h3>
    <div>
        <a href="{{ url_for('admin.produtos') }}">Produtos    </a>
        <a href="{{ url_for('admin.cliente') }}">Cliente    </a>
        <a href="{{ url_for('admin.estoque') }}">Estoque    </a>
    </div>
</div>
{% endblock %}