{% extends "base.html" %}
{% block title %}Produtos{% endblock %}
{% block body %}
<div class="painel-container">
    <table style="width:100%"> 
        <!-- Table headers -->
            <th> 
                <tr style="color: green; ">     
                    <td>ID Produto</td> 
                    <td>Nome Produto</td> 
                    <td>Lote</td>
                    <td>Prazo de Validade (meses)</td> 
                </tr> 
            </th> 
              
        <!-- For loop logic of jinja template -->
        {%for p in produtos%} 
          
        <!-- table rows -->
        <tr id="produto_{{p['id_produto']}}"> 
            <td><span class="remove-product" onclick="remove_produto({{p['id_produto']}})">x</span>{{p['id_produto']}}</td> 
            <td>{{p['nome_produto']}}</td> 
            <td>{{p['lote']}}</td> 
            <td>{{p['prazo_validade_em_meses']}}</td> 
          
        {%endfor%} 
          
        </tr> 
          
        </table> 
</div>
{% endblock %}